@page
@model Yggdrasil.Pages.User.CourierIndexModel
@{
}

<h1>Bud</h1>
<h1>Liste over bud</h1>
<p>
    <a asp-page="CreateCourier">Opret nyt bud</a>
</p>
<div>
    <ul>
        <li>Der er @Model.UserRepo.GetAllCouriers().Count bud</li>
    </ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Fornavn
            </th>
            <th>
                Efternavn
            </th>
            <th>
                Bedømmelse
            </th>
            <th>
                Antal bedømmelser
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Couriers)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.Rating
            </td>
            <td>
                @item.NoOfRatings
            </td>
        </tr>
    }
    </tbody>
</table>