@page
@model Yggdrasil.Pages.Orders.AllWaresModel
@{
}
<h1>Vareoversigt</h1>
<h6>Antal varer i kurv : @Model.CartList.Count</h6>
<table class="table">
    <thead>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Pris</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Wares)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price kr.</td>
                <td>
                    <form method="post">
                        <button asp-page-handler="Add" asp-route-Id="@item.Id" class="btn btn-success btn-group-lg pull-right">
                            tilføj til kurv
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>