@page
@using Yggdrasil.Models
@model Yggdrasil.Pages.Orders.ShoppingCartModel

@{
    ViewData["Title"] = "Indkøbskurv";
}

<h1>Indkøbskurv</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Pris</th>
            <th>Antal</th>
        </tr>
    </thead>
    @if (Model.OItems.Count != 0)
    {
        <tbody>
            @foreach (var item in Model.OItems)
            {

                <tr>
                    <td>@item.Ware.Id</td>
                    <td>@item.Ware.Name</td>
                    <td>@item.Ware.Description</td>
                    <td>@($"{item.Ware.Price:C}")</td>
                    <td>@item.Amount</td>
                    <td>
                        <form method="post">
                            <button asp-page-handler="Remove" asp-route-Id="@item.Ware.Id" class="btn btn-danger btn-group-lg pull-right">
                                Fjern fra kurv
                            </button>
                        </form>
                    </td>
                </tr>

            }
        </tbody>
    }
</table>

<form method="post">
    <div class="form-group form-inline">
        <label for="rbt">Rabatkode</label>
        <input asp-for="Offer.Code" class="form-control" id="rbt">
        <button class="btn button btn-dark" asp-page-handler="Discount">Brug</button>
    </div>
</form>
@if (Model.Offer != null)
{
    @if (Model.Offer.Discount != 0)
    {
        <p style="color: #2462e5"><strong>Rabatkode accepteret</strong></p>
    }
}
@*<p>Der kan bruges eventuel rabatkode på checkout siden.</p>*@

@if (Model.discount.UsedOffer() != null)
{
    <h2>Total: @($"{Model.ItemsInCart.CalculateTotalPrice(Model.discount.UsedOffer().Code):C}")</h2>
}
else
{
    <h2>Total: @($"{Model.ItemsInCart.CalculateTotalPrice(null):C}")</h2>
}
<a asp-page="/Wares/GetAllWares" class="button btn btn-dark btn-group-lg pull-right">Continue Shopping</a>
@if (Model.ItemsInCart.GetOrderedWares().Count != 0)
{
    <a asp-page="/Orders/CheckOut" class="button btn btn-dark btn-group-lg pull-right">Check Out</a>
}
