@page
@using Yggdrasil.Interfaces
@model Yggdrasil.Pages.Users.DeliveriesModel
@inject IUserRepository UserRepository

@{
    ViewData["Title"] = "Leveringer";
}

<h3>Aktive leveringer</h3>

<table class="table table-striped" style="white-space: nowrap">
    <thead>
        <tr>
            <th>
                Adresse
            </th>
            @*<th>
                Alternativ adresse
            </th>*@
            <th>
                Kommentar
            </th>
            @*<th>
                Tidsønske
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            @if (item.CourierID == Model.User.ID && !item.Done)
            {
                <tr>
                <td>
                    @UserRepository.GetUser(item.CustomerID).AddressLine1
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.AltAddress)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.DateTimeWish)
                </td>*@
                <td>
                    <a asp-page="/Orders/OrderDetails" asp-route-id="@item.Id">Ordredetaljer</a>
                </td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>Afsluttede leveringer</h3>

<table class="table table-striped" style="white-space: nowrap">
    <thead>
        <tr>
            @*<th>
                Alternativ adresse
            </th>*@
            <th>
                Kommentar
            </th>
            @*<th>
                Tidsønske
            </th>*@
            <th>
                Bedømmelse
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            @if (item.CourierID == Model.User.ID && item.Done)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.AltAddress)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.DateTimeWish)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        <a asp-page="/Orders/OrderDetails" asp-route-id="@item.Id">Ordredetaljer</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>