@page
@using Yggdrasil.Models
@using System.Diagnostics
@model Yggdrasil.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Brugerdetaljer";
}

<h1>Brugerdetaljer</h1>

<div>
    <h4>Bruger</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserType)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.User.UserType == UserTypes.Admin)
                {
                    <p>Administrator</p>
                }
                else if (Model.User.UserType == UserTypes.Courier)
                {
                    <p>Bud</p>
                }
                else if (Model.User.UserType == UserTypes.Customer)
                {
                    <p>Kunde</p>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.AddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.ID">Redigér</a> |
    <a asp-page="./Index">Tilbage til oversigt</a>
</div>
