@page
@using Yggdrasil.Models
@model Yggdrasil.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Brugere";
}

<h1>Brugere</h1>

<table class="table table-striped" style="white-space: nowrap">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserType)
            </th>
            <th>
                Navn
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users)
{
    @if (item.EmailAddress != null)
    {
        <tr>
            <td>
                @{
                    if (item.UserType == UserTypes.Admin)
                    {
                        <p>Admin</p>
                    }
                    else if (item.UserType == UserTypes.Courier)
                    {
                        <p>Bud</p>
                    }
                    else if (item.UserType == UserTypes.Customer)
                    {
                        <p>Kunde</p>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">Detaljer</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Redigér</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Slet</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
