@page
@using Yggdrasil.Models
@model Yggdrasil.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Brugere";
}

<h1>Brugere</h1>

<p>
    <a asp-page="Create">Opret ny bruger</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].AddressLine1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].PhoneNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @{
                    if (item.UserType == UserTypes.Admin)
                    {
                        <p>Administrator</p>
                    }
                    else if (item.UserType == UserTypes.Courier)
                    {
                        <p>Bud</p>
                    }
                    else if (item.UserType == UserTypes.Customer)
                    {
                        <p>Kunde</p>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine1)
                @Html.DisplayFor(modelItem => item.AddressLine2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                |<a asp-page="./Edit" asp-route-id="@item.ID">Redigér</a>
                |<a asp-page="./Details" asp-route-id="@item.ID">Detaljer</a>
                |<a asp-page="./Delete" asp-route-id="@item.ID">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
