@page
@model Yggdrasil.Pages.User.CustomerIndexModel
@{
}

<h1>Kunder</h1>
<h1>Liste over kunder</h1>
<p>
    <a asp-page="CreateCustomer">Opret ny kunde</a>
</p>
<div>
    <ul>
        <li> Der er @Model.CustomerRepo.GetAllCustomers().Count kunder</li>
    </ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Fornavn
            </th>
            <th>
                Efternavn
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Customers)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.EMail
            </td>
        </tr>
    }
    </tbody>
</table>