@page
@using Yggdrasil.Models
@model Yggdrasil.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Brugere";
}

<button class="accordion">Brugere</button>
<div class="panel">
    @foreach (var item in Model.Users)
    {
        if (item.UserType == UserTypes.Admin && item.EmailAddress != null)
        {
            Model.AmountOfAdmins++;
        }
        else if (item.UserType == UserTypes.Courier)
        {
            Model.AmountOfCouriers++;
        }
        else if (item.UserType == UserTypes.Customer)
        {
            Model.AmountOfCustomers++;
        }
    }
    <h6><br/> Antal af forskellelige brugere</h6>
    <p>Admin : @Model.AmountOfAdmins || Bud : @Model.AmountOfCouriers || Kunde : @Model.AmountOfCustomers</p>
    <table class="table table-striped" style="white-space: nowrap">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserType)
            </th>
            <th>
                Navn
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Password)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        @foreach (var item in Model.Users)
        {
            @if (item.EmailAddress != null)
            {
                <tr>
                    <td>
                        @{
                            if (item.UserType == UserTypes.Admin)
                            {
                                <p>Admin</p>
                            }
                            else if (item.UserType == UserTypes.Courier)
                            {
                                <p>Bud</p>
                            }
                            else if (item.UserType == UserTypes.Customer)
                            {
                                <p>Kunde</p>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        <a asp-page="/Users/Details" asp-route-id="@item.ID">Detaljer</a> |
                        <a asp-page="/Users/Edit" asp-route-id="@item.ID">Redigér</a> |
                        <a asp-page="/Users/Delete" asp-route-id="@item.ID">Slet</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<button class="accordion">Vare statistik</button>
<div class="panel">
    @foreach (Order o in Model.Orders)
    {
        if (o.OrderedWares != null)
        {
            foreach (OrderItem oi in o.OrderedWares)
            {
                Model.Wares[oi.Ware.Id].AmountSold = Model.Wares[oi.Ware.Id].AmountSold +  1 * oi.Amount;
            } 
        }
        
    }

    <h4><br/>Antal solgt</h4>
    @foreach (Ware oi in Model.Wares)
    {
        <p>@oi.Name : @oi.AmountSold</p>
    }
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>