@using Yggdrasil.Services
@using Yggdrasil.Models
@inject ShoppingCartService ItemsInCart
@inject LoginService LoginService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Yggdrasil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div class="container-fluid">
    @{
        if (LoginService.GetLoggedInUser() != null)
        {
            <a asp-page="/Users/Logout" class="float-right" style="font-size: larger">Log ud</a>
            <p class="float-right" style="font-size: larger">&nbsp; | &nbsp;</p>
            <a asp-page="/Users/Details" asp-route-id="@LoginService.GetLoggedInUser().ID" class="float-right" style="font-size: larger">@LoginService.GetLoggedInUser().EmailAddress</a>
        }
        else
        {
            <a asp-page="/Users/Login" class="float-right" style="font-size: larger">Log-in</a>
            <p class="float-right" style="font-size: larger">&nbsp; | &nbsp;</p>
            <a asp-page="/Users/Create" class="float-right" style="font-size: larger">Opret profil</a>
        }
    }

    <div style="text-align: center">
        <a asp-page="/Index"><img src="/Images/logo.png" class="yggtitle mx-auto d-inline" alt="Logo"/><img src="/Images/titleSmall.png" class="yggtitle mx-auto d-inline" style="width: auto" height="170" alt="Yggdrasil" /></a>
    </div>
 </div>

<header>
    <nav class="navbar navbar-default navbar-expand-sm navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow mb-3" role="navigation">
        <div class="container">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Index">Hjem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Requests/RequestIndex">Bestillinger</a>
                    </li>
                    @if (LoginService.GetLoggedInUser() != null)
                    {
                        if (LoginService.GetLoggedInUser().UserType == UserTypes.Admin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Users/Index">Brugere</a>
                            </li>
                        }
                    }
                    <li class="nav-item">
                        <a class="button btn float-left text-light" asp-area="" asp-page="/Wares/GetAllWares">Bestil</a>
                    </li>
                </ul>
                </div>
            <ul class="nav navbar-nav navbar-collapse collapse">
                <li class="ml-auto mr-1 dropdown">
                    <a class="nav-link text-light dropdown-toggle noti" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                        </svg> Kurv 
                    <span class="badge">@ItemsInCart.GetOrderedWares().Count</span>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in ItemsInCart.GetOrderedWares())
                        {
                            <li class="dropdown-item-text">
                                @item.Name @item.Price kr.
                                @*<button class="btn btn-danger pull-right">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </button>*@
                            </li>
                        }
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item-text">
                            Total @ItemsInCart.CalculateTotalPrice() kr.
                        </li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Orders/shoppingCart">Gå ind i kurven</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Yggdrasil - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
