@page
@model Yggdrasil.Pages.Requests.AcceptRequestModel
@{
}

<h3>Accepterede bestillinger</h3>
<p>Antal bestillinger: @Model.acceptedOrders.Count</p>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.acceptedOrders)
    {
        <tr>
            <td>@item.Value.Id</td>
            <td>@item.Value.Address </td>
            <td>@item.Value.TimeWindow </td>
            <td>@item.Value.TotalPrice </td>
            <td>@item.Value.Comment </td>
            <td>
                <a asp-page="DeleteOrder" asp-route-id="@item.Key">Slet </a>
            </td>
        </tr>
    }
    </tbody>
</table>