@page
@model Yggdrasil.Pages.Requests.AcceptRequestModel
@{
    ViewData["Title"] = "AcceptRequest";
}

<h3>Accepterede bestillinger</h3>
<p>Antal bestillinger: @Model.AcceptedOrders.Count</p>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Addresse</th>
        <th>Fra</th>
        <th>Til</th>
        <th>Total pris</th>
        <th>Kommentar</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.AcceptedOrders)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Address </td>
            <td>@item.DateTimeFrom </td>
            <td>@item.DateTimeTo</td>
            <td>@item.TotalPrice </td>
            <td>@item.Comment </td>
            <td>
                <a asp-page="DeleteOrder" asp-route-id="@item.Id">Slet </a>
            </td>
        </tr>
    }
    </tbody>
</table>