@page
@model Yggdrasil.Pages.Requests.RequestIndexModel

@{
    ViewData["Title"] = "Bestillinger";
}

<h3>Bestillinger</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Addresse</th>
            <th>Postnummer</th>
            <th>Fra</th>
            <th>Til</th>
            <th>Total Pris</th>
            <th>Kommentar</th>
            <th>Bruger</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            if (item.CourierID < 1)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.AltAddress </td>
                    <td>@item.CustomerID</td>
                    <td>@item.DateTimeWish </td>
                    <td>@item.Comment </td>
                    <td><form method="post"><input type="submit" asp-page-handler="Accept" asp-route-id="@item.ID" value="Acceptér bestilling" class="btn btn-primary" /></form></td>
                </tr>
            }
        }
    </tbody>
</table>