@page
@using Yggdrasil.Interfaces
@model Yggdrasil.Pages.Requests.RequestIndexModel
@inject IUserRepository UserRepository

@{
    ViewData["Title"] = "Bestillinger";
}

<h3>Bestillinger</h3>

@foreach (var item in Model.Orders)
{
    if (item.CourierID < 1)
    {
        Model.EmptyRequestList = false;
        break;
    }
}

@if (Model.EmptyRequestList != true)
{
<div>
    <form method="get">
        <p>
            Search:
            <input type="text" asp-for="Criteria" />
            <input type="submit" value="Filtrer" class="btn button btn-dark" />
        </p>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Postnummer</th>
            <th>By</th>
            <th>Kommentar</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            if (item.CourierID < 1)
            {
        <tr>
            <td>@UserRepository.GetUser(item.CustomerID).FullName</td>
            <td>@UserRepository.GetUser(item.CustomerID).PostalCode</td>
            <td>@UserRepository.GetUser(item.CustomerID).City</td>
            <td>@item.Comment</td>
            <td><a asp-page="/Orders/OrderDetails" asp-route-id="@item.Id">Ordredetaljer</a></td>
        </tr>
            }
        }
    </tbody>
</table>
}
else
{
<div class="jumbotron container float-right">
    Der er ingen ordreanmoninger i øjeblikket, kig tilbage senere. :)
</div>
}