@page
@model Yggdrasil.Pages.Requests.RequestIndexModel
@{
    ViewData["Title"] = "RequestIndex";
}
<h3>Bestillinger</h3>

<p>Antal bestillinger: @Model.Orders.Count</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Addresse</th>
            <th>Fra</th>
            <th>Til</th>
            <th>Total Pris</th>
            <th>Kommentar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Address </td>
                <td>@item.DateTimeFrom </td>
                <td>@item.DateTimeTo</td>
                <td>@item.TotalPrice </td>
                <td>@item.Comment </td>
                <td><a asp-page="AcceptRequest" asp-route-id="@item">Accepter bestilling</a></td>
                <td>
                    <ul style="list-style-type: none;">
                        <li><a asp-page="EditOrder" asp-route-id="@item">Rediger </a></li>
                        <li><a asp-page="DeleteOrder" asp-route-id="@item">Slet </a></li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>