@page
@using Yggdrasil.Models
@model Yggdrasil.Pages.Wares.CreateWareModel
@{ ViewData["Title"] = "Create Ware";
}

<h1>Tilføj vare</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Ware.Name" class="control-label">Navn</label>
        <input asp-for="@Model.Ware.Name" class="form-control" />
        <span asp-validation-for="@Model.Ware.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Ware.Description" class="control-label">Beskrivelse</label>
        <input asp-for="@Model.Ware.Description" class="form-control" />
        <span asp-validation-for="@Model.Ware.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Ware.Price" class="control-label">Pris i kr.</label>
        <input asp-for="@Model.Ware.Price" class="form-control" />
        <span asp-validation-for="@Model.Ware.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Ware.Type" class="control-label">Type</label>
        <select asp-for="Ware.Type" asp-items="Html.GetEnumSelectList<WareType>()" class="form-control">
            <option value="">Vælg Type</option>
        </select>
        <span asp-validation-for="@Model.Ware.Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Ware.ImageName" class="control-label"> ImageName </label>
        <input asp-for="@Model.Ware.ImageName" class="form-control" />
        <span asp-validation-for="@Model.Ware.ImageName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Ware.IsOrganic" class="control-label">Økologisk</label>
        <input asp-for="@Model.Ware.IsOrganic" class="form-control" />
        <span asp-validation-for="@Model.Ware.IsOrganic" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Ware.IsVegan" class="control-label">Vegansk</label>
        <input asp-for="@Model.Ware.IsVegan" class="form-control" />
        <span asp-validation-for="@Model.Ware.IsVegan" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Tilføj" class="button btn btn-primary" />
    </div>
</form>