@page
@using Yggdrasil.Models
@model Yggdrasil.Pages.Wares.GetAllWaresModel

@{
    ViewData["Title"] = "Alle varer";
}

<h1>Varer</h1>
@if (Model.IsAdmin == true)
{
    <p>
        <a asp-page="CreateWare" class="button btn btn-dark btn-group-sm">Tilføj ny vare</a>
    </p>
}

<h2>
    <form method="post">
    <select asp-for="ware.Type" asp-items="Html.GetEnumSelectList<WareType>()">
        <option value="">All</option>
    </select>
    <button asp-page-handler="Search" class="button btn btn-dark btn-group-lg pull-right">
            Search
        </button>
    </form>

</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Navn
        </th>
        <th>
            Beskrivelse
        </th>
        <th>
            Pris
        </th>
        <th>
            Type
        </th>
        <th>
            Økologisk
        </th>
        <th>
            Vegansk
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.WaresFilter)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price kr.</td>
            <td>@item.Type</td>
            <td>
                @if (item.IsOrganic == true)
                {
                    <p>Ja</p>
                }
                else
                {
                    <p>Nej</p>
                }
            </td>
            <td>
                @if (item.IsVegan == true)
                {
                    <p>Ja</p>
                }
                else
                {
                    <p>Nej</p>
                }
            </td>
            <td><img src="~/Images/@item.ImageName" width="90" height="70"></td>
            <td>
                <form method="post">
                    <button asp-page-handler="Add" asp-route-Id="@item.Id" class="button btn btn-dark btn-group-lg pull-right">
                        tilføj til kurv
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>