@page
@using Newtonsoft.Json.Linq
@using System.Diagnostics.Eventing.Reader
@model Yggdrasil.Pages.Wares.GetAllWaresModel
@{
}

<h1>Varer</h1>

<p>
    <a asp-page="CreateWare" class="btn btn-success btn-group-sm">Tilføj ny vare</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Navn
        </th>
        <th>
            Beskrivelse
        </th>
        <th>
            Pris
        </th>
        <th>
            Type
        </th>
        <th>
            Økologisk
        </th>
        <th>
            Vegansk
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Wares)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price kr.</td>
            <td>@item.Type</td>
            <td>
                @if (item.IsOrganic == true)
                {
                    <p>Ja</p>
                }
                else
                {
                    <p>Nej</p>
                }
            </td>
            <td>
                @if (item.IsVegan == true)
                {
                    <p>Ja</p>
                }
                else
                {
                    <p>Nej</p>
                }
            </td>
            <td><img src="~/Images/@item.ImageName" width="90" height="70"></td>
            <td>
                <form method="post">
                    <button asp-page-handler="Add" asp-route-Id="@item.Id" class="btn btn-success btn-group-lg pull-right">
                        tilføj til kurv
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>